<nav class="navbar" *ngIf="isLoggedIn()">
  <div class="nav-container">
    <div class="nav-brand">
      <span class="logo-icon"><img src="logo-app.png" alt="logo"></span>
      <span class="brand-name">LitMind</span>
    </div>

    <div class="nav-links">
      <!-- Nav admin -->
      <ng-container *ngIf="isAdmin()">
        <a routerLink="/lecturas" routerLinkActive="active">Lecturas</a>
        <a routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
      </ng-container>
      <!-- Nav usuario normal -->
      <ng-container *ngIf="!isAdmin()">
        <a routerLink="/mi-perfil" routerLinkActive="active">Mi perfil</a>
      </ng-container>
    </div>

    <div class="nav-right">
      <div class="nav-user" *ngIf="usuarioActual">
        <img [src]="usuarioActual.foto" [alt]="usuarioActual.nombre" class="nav-avatar">
        <span class="nav-username">{{ usuarioActual.nombre }}</span>
      </div>
      <button (click)="logout()" class="btn-logout">Salir</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer *ngIf="isLoggedIn()">
  <p>LitMind - 2 CFGS DAM 25/26</p>
</footer>
