/* color para el fondo del panel */

QMainWindow {
    background-color: #f4f1f9;
}

/* QPushBotton --> estilos */
QPushButton {
    background-color: #9b7ec4;
    color: "#d1c4e0";
    border: 2px solid #7d5fa7;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 13px;
}

QPushButton:hover {
    background-color: #b39ddb;
    border: 2px solid #9b7ec4;
}

QPushButton:pressed {
    background-color: #7d5fa7;
    border: 2px solid #6b5b95;
    padding-top: 12px;
    padding-bottom: 8px;
}

QPushButton:disabled {
    background-color: #d1c4e0;
    border: 2px solid #b8a8cf;
    color: #a89fc4;
}

Qlabel {
    color: "#00000";
}